<h1 class="headingBig">Volunteers</h1>
<br><br><br>
<table class="center">
  <thead>
    <tr>
      <th>name </th>
      <th>time </th>
      <th>date</th>
      <th>oid</th>

    </tr>
  </thead>

  <tbody>
    <% @volunteers.each do |v| %>
      <tr>
        <td><%= v.name %></td>
        <td><%= v.time %></td>
        <td><%= v.date %></td>
        <td><%= v.oid %></td>
      </tr>
    <% end %>
  </tbody>
</table>
