<h1>Organisations#edit</h1>
<p>Find me in app/views/organisations/new.html.erb</p>


<%= render 'form', organisation: @organisation %>

<%= link_to 'Show', @organisation %> |
<%= link_to 'Back', organisations_path %>