<h1 class="headingBig">Programs</h1>
<br><br><br>
<table class="center">
  <thead>
    <tr>
      <th>name </th>
      <th>heading </th>
      <th>description</th>

    </tr>
  </thead>

  <tbody>
    <% @programs.each do |p| %>
      <tr>
        <td><%= p.name %></td>
        <td><%= p.heading %></td>
        <td><%= p.description %></td>
      </tr>
    <% end %>
  </tbody>
</table>