<h1 class="headingBig">Our Team</h1><br><br><br>
<%= image_tag("team_socialforce.jpg", class:"teamLogo")%>


<p class="teamParagraph" ><u style="text-decoration:none;border-bottom: 2px solid;border-bottom-color:#ffd700;">Schöneberg CEO
& SME lead :</u><br><br> Prior to joining the MBA program at BerkeleyHaas,
Susy
was a Senior Business Analyst in Sustainability Management at DB, one of the world’s largest
mobility and logistics firms. There, she led a think tank reporting directly to the CEO.
</p>
<p class="teamParagraph"><u style="text-decoration:none;border-bottom: 2px solid;border-bottom-color:darkblue;">Denisse Halm COO
& local organizations lead :</u><br><br> Denisse is an MBA student at BerkeleyHaas
focusing on humancentered
design and entrepreneurship. Denisse served as Operations
Director for a grassroots NGO in Ghana and worked as a policy consultant to the World Bank.
</p>
<p class="teamParagraph"><u style="text-decoration:none;border-bottom: 2px solid;border-bottom-color:red;">Joh Schöneberg CTO
& product developer :</u><br><br> Joh is a postdoc in biophysics at UC Berkeley. He
has developed open source high performance particle dynamics simulations software. He also
founded a web design & software company with 8 years of operations.
</p>
<p class="teamParagraph"><u style="text-decoration:none;border-bottom: 2px solid;border-bottom-color:green;">Mitul Bhat :</u><br><br> Mitul is a firstyear
MBA student at BerkeleyHaas
with a background as a consultant
uncovering customer needs and translating those insights into growth strategy for companies;
he most recently worked at Sanergy, a social enterprise in Kenya .
</p>
<p class="teamParagraph"><u style="text-decoration:none;border-bottom: 2px solid;border-bottom-color:#551A8B;">Reneé Selanders:</u><br><br> Reneé is a firstyear
MBA student at BerkeleyHaas.
She spent 4 years
growing the largest tech accelerator in Oklahoma, working with startups to solve their business
and product challenges. She also cofounded
the first developer boot camp in Oklahoma.
</p>
<p class="teamParagraph"><u style="text-decoration:none;border-bottom: 2px solid;border-bottom-color:black;">Vaisakh Shankar:</u><br><br> Vaisakh is an engineer with 10 years of experience in corporate strategy and
marketing. He is passionate about storytelling as way to form product narratives focused on
improving user experience. He is an MBA student at BerkeleyHaas.

</p>
<p class="teamParagraph"><u style="text-decoration:none;border-bottom: 2px solid;border-bottom-color:green;">Sid Ghosh Impact measurement advisor :</u><br><br> Sid has developed the Theory of Change for, and
applied the Social Return on Investment (SROI) methodology to evaluate the the impact of,
CSR programs. He is currently finishing his MBA at the London Business School.
</p>
