<h1 class="headingBig">Match</h1>
<br><br><br><br>
<h1 class="headingSmall">Match Score new</h1>
<%= render 'form', match: @match %>
<%= link_to 'New Match', edit_profile_path(@profileid), class: "new_matches_link" %>
