<h1 class="headingBig">Match</h1>
<br><br><br><br>
<h1 class="headingSmall">Match Score new</h1>
<%= render 'form', match: @match %>
<p>Find me in app/views/matches/new.html.erb</p>
<%= params[:id] %>