<h1>About us</h1><br><br>
<div class="paragraphsabout">
<h2 class="side">Susanne Schoeneberg</h2><h2 class="side">Denisse Halm</h2>
</div><br />
<div class="imagecontainer">
	<%= image_tag("susanne_schoeneberg.jpg", class: "imageleft")%>
	<%= image_tag("denisse_halm.jpg", class: "imageright")%>
</div>

<div class="paragraphsabout">
	<div class="side">
	<p>Prior to starting the MBA at Berkeley‐​Haas, Susy worked in Corporate Strategy and Sustainability Management at Deutsche Bahn (DB). She developed DB's first integrated report and 
	founded the “DB Next Generation Think Tank". At SocialForce, Susy helps SMBs to create impact and manages the platform development.</p>
	</div>

	<div class="side">
	<p>Denisse is an MBA student at Berkeley-Haas. She worked as an economic consultant advising the World Bank on energy and water access.
	Denisse also served as Operations Director of YIST, an education nonprofit in Ghana. Denisse  leads SocialForce's nonprofit user side and  manages partnerships with community actors.</p>
	</div>
</div>

<br><br><h1>What we provide</h1><br><br>
<%= image_tag("about_socialforce.jpg", class: "aboutsocialforce")%>