*{margin: 0px; padding 0px}
#bottomMenueContainer{
				margin-left:-40px;
				margin-right:10px;
				margin-right:10px;
				margin-top:1%;
				background-color: white;
				width: 105%;
				min-width: 1500px;
				overflow: hidden;
				height: 50px; 
				}


.bottomMenue{	list-style: none;
		}

.bottomMenue li{
			margin-top: -33px;
			margin-right: 100px;	
			display:block; 
			height: 50px; 
			width: 250px; 
			float: right;
			line-height: 50px;
			text-align: center;
			font-family: sans-serif;
			font-size: 20px;
			color: black;
			}