#topMenueContainer{margin-top: -35px; 
				margin-left:-40px;
				margin-right:10px;
				background-color: #556b2f;
				height: 50px;
				width: 105%;
				min-width: 1500px;
				}

.topMenue{	
		}

.topMenue li{	
			display:inline-block;
			height: 1%; 
			width: 15%;
			min-width: 12%; 
			float: left;
			line-height: 50px;
			text-align: center;
			font-family: sans-serif;
			font-size: 25px;
			color: white;
			position:relative;
			}

.login{
		margin-left:10%;
		margin-top: 15px;
		width:15%;
		min-width:12%;
		height: 1%; 
		display:inline-block;
		position: relative;
		font-family: sans-serif;
		font-size: 25px;
		}



