/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 * 
 * 
 * picture from: http://images.google.de/imgres?imgurl=http%3A%2F%2Ffeelgrafix.com%2Fdata_images%2Fout%2F3%2F754718-blue-wallpaper.jpg&imgrefurl=http%3A%2F%2Ffeelgrafix.com%2F754502-blue-sky-wallpaper.html&h=800&w=1280&tbnid=sTQpjXVHcS-d0M%3A&docid=pdL1nQcSKld8CM&ei=9HDhV-zsA8KfaKXiguAJ&tbm=isch&iact=rc&uact=3&dur=3329&page=8&start=183&ndsp=25&ved=0ahUKEwjstqCuu57PAhXCDxoKHSWxAJw4ZBAzCFsoWTBZ&bih=904&biw=995
 */

body {
	overflow-x:auto;
	width:100%;
	background-image: url("community4.jpg");
	background-size: 160% 160%;
	background-attachment:fixed;
	
	
}

.headingBig {
	color: black;
	font-size:60px;
	font-family:Impact, Charcoal, sans-serif;
}

.headingSmall {
	color: black;
	font-size:20px;
	
}
