#socialforcelogo{
	width:200px;
	height:74px;
	margin-left: 20px;
	margin-top:-10px;
}

.imagecontainer{
	white-space: nowrap;
	display: block;
    vertical-align: top;
}


.imageleft{
	margin-right:10%;
	
}

.imageright{
	margin-left:10%;
	
}

.teamLogo{
	width:auto;
	height:200px;;

}



