#logo{
	width:225px;
	height:74px;
	
	
}

.imagecontainer{
	white-space: nowrap;
	display: block;
    vertical-align: top;
}


.imageleft{
	margin-right:100px;
	
}

.imageright{
	margin-left:100px;
	
}



