// Place all the styles related to the profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.new_organisation_link{
  background-color: #ADD8E6;
  border-style: groove;
  border-radius: 50px;
  border-width: 3px;
  text-decoration: none;
 
}
