// Place all the styles related to the team controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.teamParagraph {
  color:black;
  font-size:20px;
  text-align:left
}
