#yieldbackground{	
		margin-top: -115px; 
		margin-left:300px;
		background-color: green;
		width: 1500px;

		}
		
#yieldcenter{
		margin-left:auto;
		margin-right: auto;
		width: 1000px;
		background-color: red;	
		text-align:center;
		}



